.banner {
    height: 100px;
    margin: 0px -10px 10px;
    background-color: rgba(40, 88, 184, 0.952);
    border-radius: 2px;
}

.banner h1{
    color: rgba(237, 237, 241, 0.842);
    padding-top: 10px;
    margin-left: 10%;
    display: inline-block;
}

.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 100px;
}

